.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(117, 108, 108);
  color: rgb(255, 255, 255);
}
.logo {
  margin-left: 30px;
}
.about {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 40px;
}
.Products-heading {
  display: flex;
  justify-content: center;
}
.images {
  display: flex;
  justify-content: space-around;
}
.button {
  display: flex;
  flex-direction: column;
}
.button button {
  background-color: black;
  color: white;
  width: 60%;
  margin-left: 50px;
}
.footer-h1 {
  display: flex;
  justify-content: center;
}
